body {
  /* background: linear-gradient(to right, #1d2b64, #f8cdda); */
  background-color: #44355b;
  background-image: linear-gradient(315deg, #44355b 0%, #ececec 74%);
  align-items: center;
  justify-content: center;
  height: 77vh;
}
.contact {
  min-height: auto;
  padding-bottom: 5px;
  margin-top: 10%;
}

.contact h5 {
  margin-bottom: 0.3rem;
}

.contact form {
  max-width: 50%;
  margin: 0.5rem auto;
  text-align: center;
  margin-bottom: 2rem;
}



.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: rgb(207, 185, 240);
  background: rgb(217, 212, 217);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem rgb(200, 200, 201);
  border: none;
}

.contact form .input-box input {
  width: 100%;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
.icon-section {
  display: block;
  margin: 10%;
}
.footer {
  background-color: transparent;
}
.back {
  position: relative;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #e8e8e8;
  border: 1.6px solid #e2e2e2;
  box-shadow: 6px 6px 10px #c5c5c5, -6px -6px 12px #ffffff;
}


  